<!-- <div class="nowrap">
  <div class="display" *ngFor="let color of grays">
    <div class="color-block" [ngStyle]="{'background-color': color}">
    </div>
  </div>
</div>

<br>

<div class="nowrap">
  <div class="display" *ngFor="let color of colors">
    <div class="color-block" [ngStyle]="{'background-color': color}">
    </div>
  </div>
</div>

<br>

<div class="nowrap">
  <div class="display" *ngFor="let color of r">
    <div class="color-block" [ngStyle]="{'background-color': color}">
    </div>
  </div>
</div>

<br>

<div class="nowrap">
  <div class="display" *ngFor="let color of g">
    <div class="color-block" [ngStyle]="{'background-color': color}">
    </div>
  </div>
</div>

<br>

<div class="nowrap">
  <div class="display" *ngFor="let color of b">
    <div class="color-block" [ngStyle]="{'background-color': color}">
    </div>
  </div>
</div> -->
<!-- 
<div class="grid">
    <div class="grid-box" *ngFor="let color of b"></div>
</div> -->
<div class="buffer">
  <div #wrapper></div>
</div>



